<div>
  <h4>Enter city key:</h4>
  <Input @value={{this.value}} />
  <button class="forecast-button" type="button" {{on 'click' this.setTelAvivId}}>Forecast For Tel Aviv</button>
  <button class="forecast-button" type="button" {{on 'click' this.onClick}}>Submit</button>
</div>
